

#bff-img{
    width: 150px;
    border-radius: 50%;
    border: 6px solid #EFB0C9;
    
}
body{
    text-align: center;
    font-family: sans-serif,'Orbitron';
    color:  #ffffff;
    background: linear-gradient(#a2d2ff,#EFB0C9);
}

h1 , h2, h4{
    text-shadow: 0px 0px 1px black; 
}

#bday-age{
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 15px 0 5px 0;
}

#bday-date {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-image{
    background-image: url("images/gift.jfif");
    background-size: cover;
    width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    display: block;
    margin: 0 auto 0 auto;

}

#gift-image-happy:hover{
    background-image: url("images/happy.gif");

}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

#gift-image-hot:hover{
    background-image: url("images/hot.gif");

}
#gift-image-badass:hover{
    background-image: url("images/badass.gif");

}
#gift-image-genious:hover{
    background-image: url("images/genious.gif");

}

#gift-image-cheers{
    height: 200px;
}

#gift-image-cheers:hover{
    background-image: url("images/cheers.gif");
}


